<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="utf-8" />
    <title>{% block title %}Elderdesk: The complete customer service solution{% endblock title %}</title>

    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'assets/logoicon.png' %}"
    />

    <!-- CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

    {% block css %}{% endblock css %}
  </head>

  <body>

    {% block content %} 
    {% endblock content %}

    <!-- jQuery library -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.lazyload/1.9.1/jquery.lazyload.min.js"></script>


    <!-- JavaScript -->
    <script src="{% static 'js/base.js' %}"></script>
    {% block js %}{% endblock js %}

  </body>
</html>
