* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

:root {
    --black: #0E0E0E;
    --white: #ffffff;
    --purple: #A846A0;

    /* Dashboard */
    --blue: #0A41A9;
    --dark_blue: #272A40;
    --border_grey: #D9D9D9;
    --grey_font: #676767;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

header {
    background-color: var(--white);
}