*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Inter', sans-serif;  
}

:root{
    --black: #0E0E0E;
    --white: #ffffff;
    --purple: #A846A0;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

header{
    background-color: var(--white);
}