/* Home banner */
.home-banner{
    background-color: var(--black);
}

/* Top Navigation */
nav {
    padding: 0 10%;
    position: relative;
}

.top-navigation {
    background-color: var(--white);
    max-width: 1600px;
    width: 100%;
    margin: auto;
}

.top-navigation a, .top-navigation-dropdown-toggle { 
    color: var(--black);
    font-size: 14px;
    cursor: pointer;
}

.top-navigation a:hover {
    text-decoration: underline;
}

.top-navigation-dropdown-content{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 16px 24px;
    background-color: var(--white);
    padding: 24px 32px;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    right: 0; 
    top: 100%; 
    width: 220px;
    z-index: 10; 
    margin-right: 10%;
    margin-top: 10px;
}


.top-navigation-dropdown-content>div a{
    text-decoration: none;
}

.top-navigation-dropdown-content>div a:hover{
    text-decoration: underline;
}

/* Bottom Navigation */
.bottom-navigation{
    border-bottom: 1px solid #ded7cad9;
    transition: all 0.3s ease;
    width: 100%;
    margin: auto;
    background-color: var(--white);
}

.bottom-navigation.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.13) 0px 8px 24px;
}

.bottom-navigation-items ul li a{
    font-weight: 500;
    color: var(--black);
}

.bottom-navigation-btn a{
    background-color: var(--purple);
    border-radius: 48px;
    padding: 10px 22px;
    font-weight: 500;
    border: 2px solid var(--purple);
    color: var(--white);
    transition: 0.3s all ease-in-out;
}

.bottom-navigation-btn a:hover{
    background-color: var(--white);
    color: var(--purple);
}

/* Header Content */
#header {
    padding: 190px 10%;
    margin: auto;
    position: relative;
}

#header img{
    position: absolute;
    right: 0;
    bottom: -6px;
    height: 360px;
    transition: 0.3s all;
}

.header-content {
    z-index: 2;
}

.header-content h1{
    font-weight: 700;
    font-size: 58px;
    line-height: 128%;
    letter-spacing: 0.01em;
    color: var(--black);
    max-width: 760px;
    width: 90%;
}

.header-content p {
    font-weight: 500;
    font-size: 18px;
    color: var(--black);
    max-width: 600px;
    width: 80%;
}

.header-content>div a{
    padding: 12px 24px;
    border-radius: 48px;
    font-weight: 500;
    font-size: 18px;
    transition: 0.3s all ease-in-out;
}

.header-content>div a:first-child{
    color: var(--white);
    background-color: var(--purple);
    border: 2px solid var(--purple);
}

.header-content>div a:first-child:hover{
    background-color: var(--white);
    color: var(--purple);
}

.header-content>div a:last-child{
    color: var(--black);
    background-color: var(--white);
    border: 2px solid var(--black);
}

.header-content>div a:last-child:hover{
    background-color: var(--black);
    color: var(--white);
}