{% extends "_base.html" %} 
{% load static %}

{% block title %}Dashboard{% endblock title %} 

{% block css %}
<link rel="stylesheet" href="{% static 'css/ticket/main.css' %}" />
<link rel="stylesheet" href="{% static 'css/ticket/view.css' %}" />
<link rel="stylesheet" href="{% static 'css/ticket/navbar.css' %}" />
<link rel="stylesheet" href="{% static 'css/ticket/search.css' %}" />
<link rel="stylesheet" href="{% static 'css/ticket/organization.css' %}" />
{% endblock css %} 

{% block content %}
<section class="dashboard-layout">
  <div class="left-block">
    {% include 'ticket/include/left_nav.html' %}
  </div>
  <div class="top-block">
    {% include 'ticket/include/top_block.html' %}
  </div>
  <div class="main-block">
    <div
      class="main-content-section"
      id="home-section"
      style="display: none"
    ></div>
    <div class="main-content-section" id="views-section">
      {% include 'ticket/sections/views.html' %}
    </div>
    <div
      class="main-content-section"
      id="clients-section"
      style="display: none"
    >
      <div class="client_top">
        <div class="client_top_left">
          <h1>Clients</h1>
          <p>
            Add, search and manage clients (end users) from one central
            location.
          </p>
        </div>
        <div class="client_top_right">
          <button>Export</button>
          <button
            class="flex items-center justify-center gap-[8px] bg-[#0A41A9] rounded-[6px] text-[14px] text-white w-[116px] h-[40px]"
          >
            <svg
              width="13"
              height="14"
              viewBox="0 0 13 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="5.13135"
                y="0.5"
                width="2.73684"
                height="13"
                rx="1.36842"
                fill="white"
              />
              <rect
                y="8.36844"
                width="2.73684"
                height="13"
                rx="1.36842"
                transform="rotate(-90 0 8.36844)"
                fill="white"
              />
            </svg>
            Add client
          </button>
        </div>
      </div>
    </div>
    <div
      class="main-content-section"
      id="organizations-section"
      style="display: none"
    >
      {% include 'ticket/organization/organization_list.html' %}
    </div>
    <div class="main-content-section" id="search-section" style="display: none">
      {% include 'ticket/sections/search_page.html' %}
    </div>
  </div>
</section>

{% endblock content %} 
{% block js %}
<script src="{% static 'js/dashboard.js' %}"></script>

<script>
$(document).ready(function() {
  $("#reload-button-view-organizations").on("click", function () {
    let skeletonHtml = Array(8)
      .fill("")
      .map(
        () => `
        <li>
            <a>
                <div class="views-pane-organizations-list-name skeleton skeleton-text_views__organization_name"></div>
                <div class="views-pane-organizations-list-count skeleton skeleton-text_views__organization_count"></div>
            </a>
        </li>
    `
      )
      .join("");

    $("#organization-list ul").html(skeletonHtml);

    setTimeout(function () {
      $.ajax({
        url: "{% url 'get_organizations' %}",
        type: "GET",
        success: function (response) {
          let organizationHtml = "";
          $.each(response.organizations, function (index, organization) {
            organizationHtml += `
                        <li>
                            <a>
                                <div class="views-pane-organizations-list-name">${organization.name}</div>
                                <div class="views-pane-organizations-list-count">N/A</div>
                            </a>
                        </li>`;
          });
          $("#organization-list ul").html(organizationHtml);
        },
        error: function (xhr, status, error) {
          console.error("Failed to fetch data:", error);
          $("#organization-list ul").html(
            "<li>Error loading organizations.</li>"
          );
        },
      });
    }, 500);
  });
});
</script>

{% endblock js %}
