<div class="dashboard_search">
  <div class="dashboard_search-input">
    <button id="search-toggle">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        aria-hidden="true"
        focusable="false"
      >
        <circle
          cx="6"
          cy="6"
          r="5.5"
          fill="none"
          stroke="currentColor"
        ></circle>
        <path
          stroke="currentColor"
          stroke-linecap="round"
          d="m15 15-5-5"
        ></path>
      </svg>
    </button>
    <div>
      <input type="text" placeholder="Search in ElderDesk..." />
    </div>
  </div>
  <section>
    <div class="dashboard_search-scroll">
      <div class="dashboard_search-results">
        <h3>Tickets</h3>
        <ul>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="none"
              aria-hidden="true"
              viewBox="0 0 16 16"
              focusable="false"
            >
              <path
                fill="currentColor"
                d="M7.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708ZM8.354 9.646l-2-2a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708-.708Z"
              ></path>
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="m15.707 6.707-9 9a1 1 0 0 1-1.414 0l-1-1a1 1 0 0 1 0-1.414c.308-.308.379-.596.365-.828a1.2 1.2 0 0 0-.365-.758 1.2 1.2 0 0 0-.758-.365c-.232-.014-.52.057-.828.365a1 1 0 0 1-1.414 0l-1-1a1 1 0 0 1 0-1.414l9-9a1 1 0 0 1 1.414 0l1 1a1 1 0 0 1 0 1.414c-.308.308-.379.596-.365.828a1.2 1.2 0 0 0 .365.758 1.2 1.2 0 0 0 .758.365c.232.014.52-.057.828-.365a1 1 0 0 1 1.414 0l1 1a1 1 0 0 1 0 1.414ZM15 6l-9 9-1-1c1.999-2-1-5-3-3l-1-1 9-9 1 1c-2 2 1 5 3 3l1 1Z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <div>
              <p>
                TTL - Kyrgyzstan Network - China Mobile - Direct/A2P -
                21.08.2024
              </p>
              <p>21.08.2024 #3522</p>
            </div>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="none"
              aria-hidden="true"
              viewBox="0 0 16 16"
              focusable="false"
            >
              <path
                fill="currentColor"
                d="M7.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708ZM8.354 9.646l-2-2a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708-.708Z"
              ></path>
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="m15.707 6.707-9 9a1 1 0 0 1-1.414 0l-1-1a1 1 0 0 1 0-1.414c.308-.308.379-.596.365-.828a1.2 1.2 0 0 0-.365-.758 1.2 1.2 0 0 0-.758-.365c-.232-.014-.52.057-.828.365a1 1 0 0 1-1.414 0l-1-1a1 1 0 0 1 0-1.414l9-9a1 1 0 0 1 1.414 0l1 1a1 1 0 0 1 0 1.414c-.308.308-.379.596-.365.828a1.2 1.2 0 0 0 .365.758 1.2 1.2 0 0 0 .758.365c.232.014.52-.057.828-.365a1 1 0 0 1 1.414 0l1 1a1 1 0 0 1 0 1.414ZM15 6l-9 9-1-1c1.999-2-1-5-3-3l-1-1 9-9 1 1c-2 2 1 5 3 3l1 1Z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <div>
              <p>
                TTL - Kyrgyzstan Network - China Mobile - Direct/A2P -
                21.08.2024
              </p>
              <p>21.08.2024 #3522</p>
            </div>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="none"
              aria-hidden="true"
              viewBox="0 0 16 16"
              focusable="false"
            >
              <path
                fill="currentColor"
                d="M7.646 5.646a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708l-2-2a.5.5 0 0 1 0-.708ZM8.354 9.646l-2-2a.5.5 0 1 0-.708.708l2 2a.5.5 0 0 0 .708-.708Z"
              ></path>
              <path
                fill="currentColor"
                fill-rule="evenodd"
                d="m15.707 6.707-9 9a1 1 0 0 1-1.414 0l-1-1a1 1 0 0 1 0-1.414c.308-.308.379-.596.365-.828a1.2 1.2 0 0 0-.365-.758 1.2 1.2 0 0 0-.758-.365c-.232-.014-.52.057-.828.365a1 1 0 0 1-1.414 0l-1-1a1 1 0 0 1 0-1.414l9-9a1 1 0 0 1 1.414 0l1 1a1 1 0 0 1 0 1.414c-.308.308-.379.596-.365.828a1.2 1.2 0 0 0 .365.758 1.2 1.2 0 0 0 .758.365c.232.014.52-.057.828-.365a1 1 0 0 1 1.414 0l1 1a1 1 0 0 1 0 1.414ZM15 6l-9 9-1-1c1.999-2-1-5-3-3l-1-1 9-9 1 1c-2 2 1 5 3 3l1 1Z"
                clip-rule="evenodd"
              ></path>
            </svg>
            <div>
              <p>
                TTL - Kyrgyzstan Network - China Mobile - Direct/A2P -
                21.08.2024
              </p>
              <p>Today #3522</p>
            </div>
          </li>
        </ul>
      </div>
      <div class="dashboard_recently_searched">
        <h3>Recently searched</h3>
        <ul>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              aria-hidden="true"
              focusable="false"
            >
              <path
                fill="currentColor"
                d="M8 0a8 8 0 1 1-8 8 .5.5 0 0 1 1 0 7 7 0 1 0 7-7c-1.752 0-3.25.644-4.45 1.842l1.304 1.304a.5.5 0 0 1-.268.847L4.5 5h-3a.5.5 0 0 1-.492-.41L1 4.5v-3a.5.5 0 0 1 .788-.41l.066.056.988.99C4.222.755 5.97 0 8 0zm-.5 4.5a.5.5 0 0 1 .492.41L8 5v3.359l2.812 2.25a.5.5 0 0 1 .128.628l-.05.075a.5.5 0 0 1-.627.128l-.075-.05-3-2.4a.5.5 0 0 1-.18-.3L7 8.6V5a.5.5 0 0 1 .5-.5z"
              ></path>
            </svg>
            <div>
              <p>3532 Example</p>
              <time datetime="">21.08.2024 #3522</time>
            </div>
          </li>
          <li>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              aria-hidden="true"
              focusable="false"
            >
              <path
                fill="currentColor"
                d="M8 0a8 8 0 1 1-8 8 .5.5 0 0 1 1 0 7 7 0 1 0 7-7c-1.752 0-3.25.644-4.45 1.842l1.304 1.304a.5.5 0 0 1-.268.847L4.5 5h-3a.5.5 0 0 1-.492-.41L1 4.5v-3a.5.5 0 0 1 .788-.41l.066.056.988.99C4.222.755 5.97 0 8 0zm-.5 4.5a.5.5 0 0 1 .492.41L8 5v3.359l2.812 2.25a.5.5 0 0 1 .128.628l-.05.075a.5.5 0 0 1-.627.128l-.075-.05-3-2.4a.5.5 0 0 1-.18-.3L7 8.6V5a.5.5 0 0 1 .5-.5z"
              ></path>
            </svg>
            <div>
              <p>This text which user searched</p>
              <time datetime="">21.08.2024 #3522</time>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="dashboard_search-all_results_link">
      <button class="btn_dashboard" id="search">
        <div>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            aria-hidden="true"
            focusable="false"
          >
            <circle
              cx="6"
              cy="6"
              r="5.5"
              fill="none"
              stroke="currentColor"
            ></circle>
            <path
              stroke="currentColor"
              stroke-linecap="round"
              d="m15 15-5-5"
            ></path>
          </svg>
        </div>
        <p>All search results</p>
      </button>
    </div>
  </section>
</div>
<div class="dashboard_profile">
  <button
    aria-label="Click the profile icon to open the profile menu."
    id="profile-button"
  >
    <img
      src="https://media.licdn.com/dms/image/C560BAQE0S6i3Zmh4XA/company-logo_200_200/0/1631679477228?e=2147483647&v=beta&t=0BazXyV7YSv-T1fpqIfFUI0bgAs7YD-KkFhd-SxhU0c"
      alt="Profile"
    />
  </button>
  <div id="profile-menu" class="profile-menu">
    <div class="profile_info">
      <div class="profile-img">
        <img
          src="https://media.licdn.com/dms/image/C560BAQE0S6i3Zmh4XA/company-logo_200_200/0/1631679477228?e=2147483647&v=beta&t=0BazXyV7YSv-T1fpqIfFUI0bgAs7YD-KkFhd-SxhU0c"
          alt="Profile"
        />
      </div>
      <div>
        <h3>Elman Safarli</h3>
        <p>See profile</p>
      </div>
    </div>
    <ul>
      <li>
        <a
          class="border-t-[1px] border-b-[1px] font-medium border-[#D9D9D9] text-[#676767] h-[46px] px-[34px] w-full flex items-center bg-transparent hover:bg-[#EDF4F9] transition-all"
          href=""
          >Product update</a
        >
      </li>
      <li><a href="" class="profile-link">Profile</a></li>
      <li><a href="" class="profile-link">Help Center Support</a></li>
      <li><a href="" class="profile-link">Send feedback</a></li>
      <li><a href="" class="profile-link">Version</a></li>
      <li><a href="" class="profile-logut">Logout</a></li>
    </ul>
  </div>
</div>
