{% extends "_base.html" %}

{% block title %}Organization Detail{% endblock %}

{% block content %}
    <h1>{{ organization.name }}</h1>
    <p>Domains: {{ organization.domains }}</p>
    <p>Optional Info: {{ organization.optional_info }}</p>
    <h2>Users</h2>
    <ul>
        {% for user in organization.user_profiles.all %}
            <li>{{ user.name }} ({{ user.email }}) - {{ user.get_user_type_display }}</li>
        {% empty %}
            <li>No users found.</li>
        {% endfor %}
    </ul>

    <h2>Add New User</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Add User</button>
    </form>
{% endblock %}
