<section>
  <div class="searchPage">
    <div class="flex flex-col">
      <div class="searchPage-top">
        <div class="searchPage-user-input flex items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            aria-hidden="true"
            focusable="false"
            data-test-id="search_advanced-search-box_input-field_search-icon"
            data-garden-id="forms.media_figure"
            data-garden-version="8.76.7"
            class="StyledTextMediaFigure-sc-1qepknj-0 GIISO"
          >
            <circle
              cx="6"
              cy="6"
              r="5.5"
              fill="none"
              stroke="currentColor"
            ></circle>
            <path
              stroke="currentColor"
              stroke-linecap="round"
              d="m15 15-5-5"
            ></path>
          </svg>
          <input
            type="text"
            autocomplete="off"
            aria-label="Search for tickets"
          />
          <button type="button" data-garden-id="clear-user-input">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              aria-hidden="false"
              focusable="true"
              aria-label="Очистить поиск"
              data-garden-id="buttons.icon"
              data-garden-version="8.76.7"
              class="StyledIcon-sc-19meqgg-0 cqORhS"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                d="M3 13 13 3m0 10L3 3"
              ></path>
            </svg>
          </button>
        </div>
        <div class="searchPage-filter">
          <div class="searchPage-filter-btn">
            <div>Filter</div>
            <svg
              width="15"
              height="16"
              viewBox="0 0 15 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M14.2299 9.75C14.2299 11.0748 12.9732 12.3 11.2237 12.3C9.47428 12.3 8.21758 11.0748 8.21758 9.75C8.21758 8.42521 9.47428 7.2 11.2237 7.2C12.9732 7.2 14.2299 8.42521 14.2299 9.75Z"
                stroke="black"
                stroke-width="1.4"
              />
              <rect
                x="9.98828"
                y="11.9167"
                width="2.47076"
                height="3.25"
                fill="black"
              />
              <rect x="9.98828" width="2.47076" height="7.58334" fill="black" />
              <path
                d="M6.81775 5.41669C6.81775 6.74148 5.56105 7.96669 3.81161 7.96669C2.06217 7.96669 0.805469 6.74148 0.805469 5.41669C0.805469 4.0919 2.06217 2.86669 3.81161 2.86669C5.56105 2.86669 6.81775 4.0919 6.81775 5.41669Z"
                stroke="black"
                stroke-width="1.4"
              />
              <rect
                x="2.57617"
                y="7.58334"
                width="2.47076"
                height="5.41667"
                fill="black"
              />
              <rect x="2.57617" width="2.47076" height="3.25" fill="black" />
            </svg>
          </div>
          <div class="searchPage-filter-menu">
            <div class="">
              <div class="searchPage-filter-menu-dropdown-item relative">
                <h4>Search</h4>
                <div class="searchPage-filter-menu-dropdown-item-toggle">
                  <span>Tickets</span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    focusable="false"
                    viewBox="0 0 16 16"
                    aria-hidden="true"
                  >
                    <path
                      fill="currentColor"
                      d="M12.688 5.61a.5.5 0 01.69.718l-.066.062-5 4a.5.5 0 01-.542.054l-.082-.054-5-4a.5.5 0 01.55-.83l.074.05L8 9.359l4.688-3.75z"
                    ></path>
                  </svg>
                </div>
                <div class="searchPage-filter-menu-dropdown-item-content">
                  <ul>
                    <li>Tickets</li>
                    <li>Clients</li>
                    <li>Organizations</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div></div>
    </div>
    <div class="search-result-content">
      <div
        class="search-default flex items-center flex-col gap-[20px] justify-center"
      >
        <svg
          width="160"
          height="160"
          viewBox="0 0 185 185"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect
            x="36"
            y="3"
            width="146"
            height="130"
            rx="9"
            stroke="#676767"
            stroke-width="6"
          />
          <rect x="39" y="22" width="140" height="5" fill="#676767" />
          <mask id="path-3-inside-1_273_36" fill="white">
            <rect x="48" y="36" width="123" height="28" rx="2" />
          </mask>
          <rect
            x="48"
            y="36"
            width="123"
            height="28"
            rx="2"
            stroke="#676767"
            stroke-width="10"
            mask="url(#path-3-inside-1_273_36)"
          />
          <mask id="path-4-inside-2_273_36" fill="white">
            <rect x="146" y="100" width="25" height="22" rx="2" />
          </mask>
          <rect
            x="146"
            y="100"
            width="25"
            height="22"
            rx="2"
            stroke="#676767"
            stroke-width="10"
            mask="url(#path-4-inside-2_273_36)"
          />
          <rect x="117" y="106" width="22" height="5" rx="2.5" fill="#676767" />
          <rect x="117" y="117" width="22" height="5" rx="2.5" fill="#676767" />
          <mask id="path-7-inside-3_273_36" fill="white">
            <rect x="146" y="71" width="25" height="22" rx="2" />
          </mask>
          <rect
            x="146"
            y="71"
            width="25"
            height="22"
            rx="2"
            stroke="#676767"
            stroke-width="10"
            mask="url(#path-7-inside-3_273_36)"
          />
          <rect x="109" y="88" width="30" height="5" rx="2.5" fill="#676767" />
          <rect x="98" y="77" width="41" height="5" rx="2.5" fill="#676767" />
          <circle cx="53.5" cy="13.5" r="3.5" fill="#676767" />
          <circle cx="64.5" cy="13.5" r="3.5" fill="#676767" />
          <circle cx="75.5" cy="13.5" r="3.5" fill="#676767" />
          <path
            d="M33 88H96C103.18 88 109 93.8203 109 101V136H33V88Z"
            fill="white"
          />
          <circle
            cx="68.1899"
            cy="116.5"
            r="42.5"
            stroke="#676767"
            stroke-width="6"
          />
          <circle
            cx="68.1899"
            cy="116.5"
            r="30.5"
            stroke="#676767"
            stroke-width="6"
          />
          <rect
            x="55.2695"
            y="104"
            width="30.8487"
            height="5"
            rx="2.5"
            transform="rotate(45.7156 55.2695 104)"
            fill="#676767"
          />
          <path
            d="M83.3182 116.659C84.2354 117.633 84.1894 119.166 83.2153 120.084L74.7187 128.084L71.3971 124.557L79.8937 116.556C80.8678 115.639 82.401 115.685 83.3182 116.659V116.659Z"
            fill="#676767"
          />
          <mask id="path-18-inside-4_273_36" fill="white">
            <path
              d="M30.1104 140.107L44.4144 154.35L21.4253 177.438C17.4924 181.388 11.1021 181.402 7.15211 177.469V177.469C3.20215 173.536 3.18833 167.146 7.12124 163.196L30.1104 140.107Z"
            />
          </mask>
          <path
            d="M30.1104 140.107L44.4144 154.35L30.1104 140.107ZM25.6771 181.672C19.4061 187.97 9.21683 187.992 2.91866 181.721C-3.37951 175.45 -3.40155 165.261 2.86944 158.963L11.3731 167.43C9.77821 169.031 9.78382 171.623 11.3856 173.217C12.9873 174.812 15.5787 174.807 17.1735 173.205L25.6771 181.672ZM2.91866 181.721C-3.37951 175.45 -3.40155 165.261 2.86944 158.963L25.8585 135.874L34.3622 144.341L11.3731 167.43C9.77821 169.031 9.78382 171.623 11.3856 173.217L2.91866 181.721ZM48.6662 158.583L25.6771 181.672C19.4061 187.97 9.21683 187.992 2.91866 181.721L11.3856 173.217C12.9873 174.812 15.5787 174.807 17.1735 173.205L40.1626 150.116L48.6662 158.583Z"
            fill="#676767"
            mask="url(#path-18-inside-4_273_36)"
          />
        </svg>
        <p class="font-medium text-[30px]">Add keywords to start searching</p>
        <p class="text-[16px] font-medium">
          the search result will be shown here
        </p>
      </div>
    </div>
  </div>
</section>
